<div class="container-fluid">
    <div class="row m-b-1">
        <div class="col-lg-3">
            <div class="card shadow">
                <h4 class="card-header">Body Mass Index</h4>
                <div class="card-block">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers">{{
            dataService["userHealth"]["bmi"]
          }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow">
                <h4 class="card-header">Body type</h4>
                <div class="card-block">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers1">{{
            dataService["userHealth"]["bodyStatus"]
          }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow">
                <h4 class="card-header">Calorie Required to maintain Weight</h4>
                <div class="card-block">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers1">{{
            dataService["userHealth"]["bmr"]
          }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3" *ngIf="todaysCalorie">
            <div class="card shadow">
                <h4 class="card-header">Today's Total Calorie Consumption</h4>
                <div class="card-block">
                    <i class="fa fa-ticket"></i>
                    <span class="count-numbers1"><b>{{ todaysCalorie["TotalCaloriePerDay"] }}</b></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-1">
    <div class="col-xs-12">
      <div class="card shadow">
        <h4 class="card-header">Calorie Intake Category Wise</h4>
        <div class="card-block">
          <div
            id="comparison-chart"
            *ngIf="dataService.userCalorieConsumption"
          ></div>
          <div *ngIf="!dataService.userCalorieConsumption">
            <h4>No Data for Today</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-1">
    <div class="col-lg-6">
      <div class="card shadow">
        <h4 class="card-header">Today's Calorie Consumption Category Wise</h4>
        <div class="card-block">
          <div id="meal-pie-chart" *ngIf="todaysCalorie"></div>
          <div *ngIf="!todaysCalorie">
            <h4>No Data for Today</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card shadow">
        <h4 class="card-header">Total Calorie Intake Per Day</h4>
        <div class="card-block">
          <div
            id="calorie-intake-per-day"
            *ngIf="dataService.userCalorieConsumption"
          ></div>
          <div *ngIf="!dataService.userCalorieConsumption">
            <h4>No Data for Today</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>